<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> index </h1>
    <!--同一站点应用：public/app1.html -->
    <iframe src="http://<%= host %>:4444/app1.html" frameborder="0">1</iframe>
    <!--同一站点应用: public/app2.html -->
    <iframe src="http://<%= host %>:4444/app2.html" frameborder="0">2</iframe>
</body>

</html>