.app {
  display: flex;
  height: 100vh;
}

.app-nav {
  flex-basis: 200px;
  background: #8080801c;
}

.app-nav p {
  padding-left: 8px;
}

.app-nav a {
  text-decoration: none;
  display: block;
}

.app-nav ul {
  list-style: none;
  padding: 0;
}

.app-nav li a {
  padding: 8px 8px;
}

.app-nav li:hover {
  background-color: #8080801c;
  cursor: pointer;
}

.app-content {
  flex: 1;
  padding: 16px;
}
