.app {
  display: flex;
  height: 100vh;
}
/* 
 主应用样式，React 微应用有一个同样的类名 
*/
/* .h1 {
  color: red;
} */

.app-nav {
  flex-basis: 200px;
  background: #8080801c;
}

.app-nav p {
  padding-left: 8px;
}

.app-nav a {
  display: block;
  text-decoration: none;
}

.app-nav ul {
  padding: 0;
  list-style: none;
}

.app-nav li a {
  padding: 8px 8px;
}

.app-nav li:hover {
  background-color: #8080801c;
  cursor: pointer;
}

.app-content {
  flex: 1;
  padding: 16px;
}
